<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head') %> 
</head>
  <body>
    <header>
    <!-- nav bar -->
    <%- include('partials/header') %> 
   </header>
   <main class="movies_container">
    <div class="title">
    <h1><%= title %></h1>
    <p>Bienvenidos a <%= title %></p>
  </div>
</main>
  <%- include('partials/footer') %> 
  </body>
</html>
