<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head', {title: 'Busqueda de Peliculas'}) %> 
</head>
<body>
  <header>
  <%- include('partials/header') %> 
 </header>
  <main class="movies_container">
 <!-- Movies Heading-->
 <div class="movies_heading">
  <h2>Tu Busqueda</h2>
  </div>
  <!-- Movie List -->
  <section class= "movies_box">
  <% movies.forEach(movie => { %>
      <article class='movie_item'>
          <a href="/movies/detail/<%= movie.id %>">
            <!-- Images -->
            <div class="movies_img">
              <img src="/images/joker-folder.jpg" alt="">
            </div>
            <!-- Title -->
            <div class="movie_title">
              <h3> <%= movie.title %></h3>
            </div>
          </a>         
      </article>
          <% }) %>
  </section>
  </main>

  <%- include('partials/footer') %> 
</body>
</html>