<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head', {title: 'Busqueda de Peliculas'}) %> 
</head>
<body>
  <header>
  <!-- nav bar -->
  <%- include('partials/header') %> 
  </header>
    <div class="movies_container">
        <h2><%= movie.title %></h2>
        <div class="movie_description">
            <h3>Descripcion: </h3>
            <p>Rating: <%= movie.rating %> </p>
            <p>Premios: <%= movie.awards %> </p>
            <% if (movie.length == null ) { %>
                <p>Duracion: Desconocida </p>
            <% } else { %> 
            <p>Duracion: <%= movie.length %> min </p>
            <% } %> 
            <p>Fecha de Estreno: <%= movie.release_date %> </p>   
             <% genres.forEach(genre => { %>
             <% if (movie.GenreId === genre.id) { %>
                <p>Genero: <a href="/genres/detail/<%= genre.id %>"> <%= genre.name %> </a> </p>
             <% } %>
            <% }) %>  
            <p><strong> Actores </strong>
                <ul>
                    <% actors.forEach(actor => { %>
                        <% if (movie.actors.some(movieActor => movieActor.id === actor.id)) { %>
                          <a href="/actors/detail/<%= actor.id %>"><li> <%= actor.first_name + ' ' + actor.last_name %> </li></a>
                        <% } %>
                      <% }) %>
                </ul>
            </p>    
                   

        </div>
        <div class="movies_detail_buttons">
            <a href="/movies/edit/<%= movie.id %> ">
                <button>MODIFICAR</button>
            </a>
            <form action="/movies/delete/<%= movie.id %>?_method=DELETE" method="POST">
                <button type="submit">BORRAR</button>
            </form>
        </div> 
    </div>
    <%- include('partials/footer') %> 
</body>
</html>